# Prisma connection from neon.tech
DATABASE_URL=db-url-from-neon.tech
DATABASE_URL_UNPOOLED=db-url-unpooled-from-neon.tech
# Next Auth Secret
AUTH_SECRET=Next-Auth-Secret #generate using openssh (openssl rand -base64 32) or any random text or secret

# Github GITHUB_CLIENTS
GITHUB_CLIENT_ID=your-GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET=your-GITHUB_CLIENT_SECRET


# Google GOOGLE_CLIENTS
GOOGLE_CLIENT_ID=your-GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=your-GOOGLE_CLIENT_SECRET


